* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_445 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_446 {
  width: 100%;
  height: 1024px;
  background: rgba(240,242,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_447 {
  width: 100%;
  height: 1024px;
  background: rgba(240,242,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_448 {
  width: 256px;
  height: 1024px;
  background: rgba(13,27,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_450 {
  width: 256px;
  height: 64px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_456 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 82px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_451 {
  width: 256px;
  height: 887px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v1_459 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 24px;
  overflow: hidden;
}
.v1_463 {
  width: 154px;
  color: rgba(209,213,219,1);
  position: absolute;
  top: 44px;
  left: 60px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_464 {
  width: 15px;
  height: 14px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 24px;
  overflow: hidden;
}
.v1_465 {
  width: 15px;
  height: 14px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_466 {
  width: 15px;
  height: 14px;
  background: rgba(209,213,219,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_467 {
  width: 240px;
  height: 44px;
  background: rgba(26,62,138,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_483 {
  width: 24px;
  height: 24px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 16px;
  overflow: hidden;
}
.v1_497 {
  width: 12px;
  height: 14px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_498 {
  width: 12px;
  height: 14px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_499 {
  width: 12px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_485 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 52px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_469 {
  width: 57px;
  color: rgba(209,213,219,1);
  position: absolute;
  top: 136px;
  left: 60px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_470 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 24px;
  overflow: hidden;
}
.v1_471 {
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_472 {
  width: 14px;
  height: 14px;
  background: rgba(209,213,219,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_474 {
  width: 60px;
  color: rgba(209,213,219,1);
  position: absolute;
  top: 176px;
  left: 60px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_475 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 24px;
  overflow: hidden;
}
.v1_476 {
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_477 {
  width: 13px;
  height: 13px;
  background: rgba(209,213,219,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_452 {
  width: 256px;
  height: 73px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 951px;
  left: 0px;
  overflow: hidden;
}
.v1_478 {
  width: 224px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v1_486 {
  width: 40px;
  height: 40px;
  background: url("../images/v1_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_487 {
  width: 79px;
  height: 36px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 52px;
  overflow: hidden;
}
.v1_501 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_503 {
  width: 115px;
  color: rgba(156,163,175,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_449 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 256px;
  overflow: hidden;
}
.v1_453 {
  width: 100%;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_479 {
  width: 201px;
  height: 28px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 24px;
  overflow: hidden;
}
.v1_489 {
  width: 202px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_480 {
  width: 258px;
  height: 24px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 901px;
  overflow: hidden;
}
.v1_493 {
  width: 172px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 86px;
  overflow: hidden;
}
.v1_511 {
  width: 186px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 1px;
  left: 33px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_512 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 160px;
  overflow: hidden;
}
.v1_513 {
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_514 {
  width: 10px;
  height: 6px;
  background: rgba(107,114,128,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v1_490 {
  width: 17px;
  height: 24px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 874px;
  overflow: hidden;
}
.v1_504 {
  width: 17px;
  height: 20px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_505 {
  width: 17px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_506 {
  width: 17px;
  height: 20px;
  background: rgba(107,114,128,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_491 {
  width: 20px;
  height: 24px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 907px;
  overflow: hidden;
}
.v1_507 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_508 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_509 {
  width: 20px;
  height: 20px;
  background: rgba(107,114,128,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_492 {
  width: 1px;
  height: 24px;
  background: rgba(209,213,219,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 943px;
  overflow: hidden;
}
.v1_454 {
  width: 100%;
  height: 960px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v1_481 {
  width: 100%;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v1_494 {
  width: 100%;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_515 {
  width: 99px;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_524 {
  width: 97px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 13px;
  left: 4px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_516 {
  width: 90px;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 123px;
  overflow: hidden;
}
.v1_526 {
  width: 88px;
  color: rgba(59,130,246,1);
  position: absolute;
  top: 13px;
  left: 4px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_517 {
  width: 118px;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 237px;
  overflow: hidden;
}
.v1_528 {
  width: 116px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 13px;
  left: 4px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_518 {
  width: 105px;
  height: 46px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 379px;
  overflow: hidden;
}
.v1_530 {
  width: 103px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 13px;
  left: 4px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_482 {
  width: 100%;
  height: 320px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v1_495 {
  width: 100%;
  height: 71px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_520 {
  width: 266px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 21px;
  left: 16px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_521 {
  width: 408px;
  height: 38px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 709px;
  overflow: hidden;
}
.v1_531 {
  width: 256px;
  height: 38px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_535 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  overflow: hidden;
}
.v1_536 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_537 {
  width: 15px;
  height: 16px;
  background: rgba(156,163,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_538 {
  width: 256px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_549 {
  width: 256px;
  color: rgba(173,174,188,1);
  position: absolute;
  top: 0px;
  left: 36px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_532 {
  width: 144px;
  height: 38px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 264px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_539 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 13px;
  overflow: hidden;
}
.v1_540 {
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_541 {
  width: 13px;
  height: 12px;
  background: rgba(107,114,128,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_543 {
  width: 102px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 10px;
  left: 35px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_496 {
  width: 100%;
  height: 247px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1px;
  overflow: hidden;
}
.v1_522 {
  width: 100%;
  height: 247px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_533 {
  width: 100%;
  height: 40px;
  background: rgba(249,250,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_544 {
  width: 100%;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_550 {
  width: 244px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_575 {
  width: 99px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_551 {
  width: 147px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 244px;
  overflow: hidden;
}
.v1_577 {
  width: 42px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_552 {
  width: 175px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 392px;
  overflow: hidden;
}
.v1_579 {
  width: 81px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_553 {
  width: 198px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 567px;
  overflow: hidden;
}
.v1_581 {
  width: 56px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_554 {
  width: 162px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 766px;
  overflow: hidden;
}
.v1_583 {
  width: 53px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_555 {
  width: 204px;
  height: 40px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 929px;
  overflow: hidden;
}
.v1_585 {
  width: 60px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 12px;
  left: 74px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1_534 {
  width: 100%;
  height: 206px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v1_545 {
  width: 100%;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_556 {
  width: 244px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_586 {
  width: 196px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 24px;
  overflow: hidden;
}
.v1_617 {
  width: 170px;
  color: rgba(17,24,39,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_587 {
  width: 196px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 24px;
  overflow: hidden;
}
.v1_619 {
  width: 88px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_557 {
  width: 147px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 244px;
  overflow: hidden;
}
.v1_589 {
  width: 119px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 25px;
  left: 23px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_558 {
  width: 175px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 392px;
  overflow: hidden;
}
.v1_590 {
  width: 127px;
  height: 24px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  overflow: hidden;
}
.v1_620 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_622 {
  width: 104px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 2px;
  left: 31px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_559 {
  width: 198px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 567px;
  overflow: hidden;
}
.v1_592 {
  width: 120px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 25px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_560 {
  width: 162px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 766px;
  overflow: hidden;
}
.v1_593 {
  width: 99px;
  height: 25px;
  background: rgba(239,68,68,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_624 {
  width: 87px;
  color: rgba(239,68,68,1);
  position: absolute;
  top: 5px;
  left: 9px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_561 {
  width: 204px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 929px;
  overflow: hidden;
}
.v1_594 {
  width: 77px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 33px;
  overflow: hidden;
}
.v1_626 {
  width: 78px;
  color: rgba(59,130,246,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_595 {
  width: 48px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 122px;
  overflow: hidden;
}
.v1_628 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_546 {
  width: 100%;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v1_562 {
  width: 244px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_596 {
  width: 196px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 24px;
  overflow: hidden;
}
.v1_630 {
  width: 178px;
  color: rgba(17,24,39,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_597 {
  width: 196px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 24px;
  overflow: hidden;
}
.v1_632 {
  width: 92px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_563 {
  width: 147px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 244px;
  overflow: hidden;
}
.v1_599 {
  width: 112px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 25px;
  left: 23px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_564 {
  width: 175px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 392px;
  overflow: hidden;
}
.v1_600 {
  width: 127px;
  height: 24px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  overflow: hidden;
}
.v1_633 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_635 {
  width: 104px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 2px;
  left: 31px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_565 {
  width: 198px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 567px;
  overflow: hidden;
}
.v1_602 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 25px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_566 {
  width: 162px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 766px;
  overflow: hidden;
}
.v1_603 {
  width: 82px;
  height: 25px;
  background: rgba(245,158,11,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_637 {
  width: 70px;
  color: rgba(245,158,11,1);
  position: absolute;
  top: 5px;
  left: 9px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_567 {
  width: 204px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 929px;
  overflow: hidden;
}
.v1_604 {
  width: 77px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 33px;
  overflow: hidden;
}
.v1_639 {
  width: 78px;
  color: rgba(59,130,246,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_605 {
  width: 48px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 122px;
  overflow: hidden;
}
.v1_641 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_547 {
  width: 100%;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 0px;
  overflow: hidden;
}
.v1_568 {
  width: 244px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_606 {
  width: 196px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 24px;
  overflow: hidden;
}
.v1_643 {
  width: 176px;
  color: rgba(17,24,39,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_607 {
  width: 196px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 24px;
  overflow: hidden;
}
.v1_645 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_569 {
  width: 147px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 244px;
  overflow: hidden;
}
.v1_609 {
  width: 85px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 25px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_570 {
  width: 175px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 392px;
  overflow: hidden;
}
.v1_610 {
  width: 127px;
  height: 24px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  overflow: hidden;
}
.v1_646 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_648 {
  width: 102px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 2px;
  left: 31px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_571 {
  width: 198px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 567px;
  overflow: hidden;
}
.v1_612 {
  width: 103px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 25px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_572 {
  width: 162px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 766px;
  overflow: hidden;
}
.v1_613 {
  width: 70px;
  height: 25px;
  background: rgba(16,185,129,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_650 {
  width: 58px;
  color: rgba(16,185,129,1);
  position: absolute;
  top: 5px;
  left: 9px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_573 {
  width: 204px;
  height: 69px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 929px;
  overflow: hidden;
}
.v1_614 {
  width: 77px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 33px;
  overflow: hidden;
}
.v1_652 {
  width: 78px;
  color: rgba(59,130,246,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_615 {
  width: 48px;
  height: 20px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 122px;
  overflow: hidden;
}
.v1_654 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
